<div class="default"><h3>Roster!</h3>
<label> <input class="form-control" type="text" placeholder="Search..." ng-model='query'></label>
<br>
<br>
<br>
<br>
<table class="table table-bordered">
	<tr>
		<th>Full Name</th>
		<th>Position</th>
		<th>School Name</th>
		<th>Experience</th>
		<th>Weight</th>
		<th>Height</th>
		<th>Draft</th>
	</tr>
	<tr ng-repeat="player in roster | filter: query | orderBy: 'position' ">
		<td>{{ player.name_full }}</td>
		<td>{{ player.position }}</td>
		<td>{{ player.school_name }}</td>
		<td>{{ player.experience }}</td>
		<td>{{ player.weight }}</td>
		<td>{{ player.height }}</td>
		<td><button class="btn btn-sm btn-success" ng-click="addPlayerToTeam(player._id)">Draft</button></td>

	</tr>
</table>
</div>